#test {
  position: absolute;
  z-index: 2;
  width: 258px;
  text-align: center;
  margin: 0
}

#test2 {
  margin: 0
}

.test-btn {
  min-width: 258.05px;
  min-height: 42px;
}

* {
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

a {
  transition: 0.15s;
  color: black;
}

a:focus, a:hover {
  color: #62BCA5;
  text-decoration: none;
}

.btn-default {
  font-weight: 600;
}

#body {
  padding-top: 125px;
}

.main-padding{
  padding-left: 3%;
  padding-right: 3%
}

.emphasis-btn {
  padding: 11px 15%;
  background-color: #B8FFED;
  border: none;
  border-radius: 0;
  transition: 0.2s;
  margin-top: 8px;

}

.emphasis-btn a {
  text-decoration: none;
  color: black;
  font-weight: 600
}

.emphasis-btn:hover, .emphasis-btn:active:focus, .emphasis-btn:focus {
  background-color: #AEF1E0;
}



.custom-modal {
  margin: 25vh auto 0;
}

.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: none
}

.modal-body {
  padding: 47px 35px;
}
.modal-body .container {
  width: 100%
}

.modal-body .container h3 {
  margin-top: 0
}

.modal-body button {
  padding: 8px 7%;
  transition: 0.18s;
  border: 3px solid #B8FFED;
  margin-right: 11px;
}

.modal-body button:hover,
.modal-body button:active,
.modal-body button:active:focus {
  border-color: #AEF1E0
}

.modal-body .modal-detail-btn {
  background-color: white;
  margin-right: 0;
}

.modal-body .close {
  border: none;
  padding: 0;
  margin-right: -30px;
    margin-top: -30px;
}






/*** NAVBAR ***/
#nav-promotions {
  background-color:#D4838F;
  height: 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 0.8em;
  line-height: 32px
}

#navbar {
  background-color: #3D2E44;
  vertical-align: middle;
  top: 30px;
  border: none;
  height: 55px;
  font-size: 1.05em;
}

.navbar-collapse  {
  background-color: #3D2E44;
  border-color: #504256;
  padding-left: 35px;
}

.navbar-toggle {
  background-color: #3D2E44;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
  line-height: 25px;
  transition: 0.25s;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #B8FFED;
}

#brand-star {
  font-size: 0.7em;
}

#nav-cart-count{
  background-color: #D4838F;
}

#nav-border {
  background-color:#B8FFED;
  height: 10px;
  width: 100vw;
  position: fixed;
  top: 85px;
  z-index: 2
}


/***HOME PAGE***/

.all-products {
  padding-top: 30px
}
.grid-box {
  border: 3px solid white;
  padding: 0
}


.float-right {
  float: right
}

.grid-box-hover {
  background-color: rgba(49, 39, 54, 0.55);
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .25s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7%;
  cursor: pointer
}

.grid-box-hover:hover {
  opacity: 1
}

.grid-box-hover h3 {
  font-size: 1.6em;
  line-height: 30px
}


.shop-icon {
  border: 1px solid white;
  padding: 7px 5px 6px;
  width: 90px;
  margin: 7px auto
}

/* Single Product Page */

.img-responsive {
  width: 100%;
}

.product-main{
  padding: 0 10%
}


.product-info  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left
}

.product-info h1 {
  margin-top: 0
}


.quantity-select {
  border: 1px solid #ccc;
  width: 20%;
}



.rating-stars {
   font-size: 1.7em;
   color: #D4838F
}

.category-link {
 color: #D4838F
}

.review-main{
  padding: 0 10%;
  margin-top: 20px
}


/* CART */

.cart-page h3 {
  margin-top: 0
}

.cart-page a:focus, .cart-page a:hover {
  color: #D4838F;
}

.cart-checkout-panel{
  text-align: center
}

.cart-select {
  display: inline-block;
  margin-bottom: 20px
}

.cart-header{
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  padding: 12px 20px 8px;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin: 20px 0 30px;
}

.cart-btn {
  padding: 5px 20px;
  border: 3px solid #aaa;
  color: #666;
  border-radius: 0;
  margin-right: 11px;
  margin-bottom: 10px;
  transition: 0.18s
}

.cart-btn:hover, .cart-btn:active:focus, .cart-btn:focus {
  border: 3px solid #D4838F;
  background-color: white;
  color: #D4838F;
}


/* CATEGORY PAGE */

.category-product {
  font-size: 1.1em;
  margin-top: 6px;
}

.mini-stars {
  color: #D4838F
}

.quick-view-hover {
  background-color: rgba(255,255,255,0.6);
}

.quick-view-icon {
  background-color: white;
  padding: 4%;
  width: 95%;
  margin: 0 auto;
  color: #d4838f;
  font-size: 0.9em;
  font-weight: 600;
}





#footer {
  position: relative;
  margin-top: 125px;
  height: 300px;
  clear: both;
  background-color: #B8FFED;
  text-align: center;
  vertical-align: middle
}

.provider-login-btn {
  margin-left: 15px;
  width: 45%;
}
