* {
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

#body {
  padding-top: 125px;
}

.main-padding{
  padding-left: 3%;
  padding-right: 3%
}


/*** NAVBAR ***/
#nav-promotions {
  background-color:#D4838F;
  height: 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2
}

#navbar {
  background-color: #3D2E44;
  vertical-align: middle;
  top: 30px;
  border: none;
  height: 55px;
  font-size: 1.05em;
}

.navbar-collapse  {
  background-color: #3D2E44;
  border-color: #504256;
  padding-left: 35px;
}

.navbar-toggle {
  background-color: #3D2E44;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
  line-height: 25px;
  transition: 0.25s;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #B8FFED;
}

#brand-star {
  font-size: 0.7em;
  display: inline-block;
  margin-top: -3px;
}

#nav-border {
  background-color:#B8FFED;
  height: 10px;
  width: 100vw;
  position: fixed;
  top: 85px;
  z-index: 2
}


/***HOME PAGE***/

.all-products {
  padding-top: 30px
}
.grid-box {
  border: 3px solid white;
  padding: 0
}


.float-right {
  float: right
}

.grid-box-hover {
  background-color: rgba(49, 39, 54, 0.55);
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .25s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.grid-box-hover:hover {
  opacity: 1
}

.grid-box-hover h3 {
  font-size: 1.5em
}


.shop-icon {
  border: 1px solid white;
  padding: 7px 5px 6px;
  width: 90px;
  margin: 7px auto
}

/* Single Product Page */

.img-responsive {
  width: 100%;
}

.product-main{
  padding: 0 10%
}


.product-info  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left
}

.product-info h1 {
  margin-top: 0
}

.quantity-select {
  width: 20%;
}

.quantity-select .form-control {
  border: 1px solid #ccc
}

.add-cart-btn a {
  text-decoration: none;
  color: black
}

.add-cart-btn {

  padding: 11px 60px;
  background-color: #B8FFED;
  border: none;
  border-radius: 0;
  transition: 0.2s
}

.add-cart-btn:hover, .add-cart-btn:active:focus, .add-cart-btn:focus {
  background-color: #AEF1E0;
}



.rating-stars {
   font-size: 1.7em;
   color: #D4838F
}

.category-link {
 color: #D4838F
}

.review-main{
  padding: 0 10%;
  margin-top: 20px
}


/* CART */

.cart h3 {
  margin-top: 5px
}

.quantity-form {
  width: 20%;
  margin: 0 auto
}




#footer {
  position: relative;
  margin-top: 125px;
  height: 300px;
  clear: both;
  background-color: #B8FFED;
  text-align: center;
  vertical-align: middle
}

#googleBtn {
  margin-left: 15px;
  width: 45%;
}
