#waitingProcess {
  position: absolute;
  z-index: 2;
  width: 258px;
  text-align: center;
  margin: 0;
}

#addBtn {
  margin: 0
}

.add-cart-btn {
  min-width: 258.05px;
  min-height: 44px;
}

.btn:focus {
  outline: none
}

#add-cart-icon {
  padding-bottom: 3px
}




@keyframes belle-spinner-pulse {
  0%,
  90%,
  100% {
    opacity: 0;
    }
  50% {
    opacity: 1;
    }
  }

@keyframes belle-spinner-pulse {
  0%,
  90%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    }
  }

.sort-pane {
  border-radius: 9px;
  background-size: cover;
  cursor: pointer;
}
.sort-pane p {
  color: #414042;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  padding: 3% 6%;
}

.sort-pane .p0, .p1, .p2 {
  background-color: #ffd8d8;
}

.sort-pane .p3, .p4, .p5 {
  background-color: #D6ABB1;
}

.sort-pane .p6, .p7 {
  background-color: #6DF1D7;
}

.sort-pane .p8, .p9 {
  background-color: #ffcba7;
}

.pane-header{
  border-bottom: 1px solid rgb(206, 205, 205);
  padding: 12px 2px 5px;
  letter-spacing: 0.05em;
  margin: 12px 0 18px;
  width: 200px;
}

.pane-padding{
  padding-left: 6%;
  padding-right: 6%;
  max-width: 1300px;
  margin: 0 auto;
}

#motion-menu-btn{
  width: 20px;
  height: 20px;
  background-color: blue
}
.checkout-main {
  width: 85%;
  margin: auto;
  font-family: "Tenor Sans"; max-width: 1100px
}

.step-label {
  font-family: "Tenor Sans" !important
}

.checkout-padding {
  padding-left: 6%;
}

.checkout-form {
  padding-right: 5%;
  width: 65%;
  float: left;
  margin-bottom: 30px;
}

.checkout-form textarea, .shipping-options, .login-container input {
  display: inline-block !important;
  border: 1px solid rgb(204, 204, 204) !important;
  padding: 24px !important;
  margin-top: -7px !important;
  font-size: 1em !important;
  height: 70px !important;
  border-radius: 0
}



.checkout-form textarea:focus, .checkout-form textarea:hover {
  border: 1px solid rgb(204, 204, 204) !important;
}

.checkout-success {
  font-size: 1.2em
}

.shipping-options {
  margin-top: 0 !important;
  width: 100%;
}


.form-50 {
  width: 50% !important
}

.form-33 {
  width: 33.3333333333% !important
}

.checkout-padding .checkout-heading {
  margin-bottom: 30px
}


.checkout-summary{
  width: 32%;
  float: left;
  margin-bottom: 15px
}

.checkout-summary h4 {
  font-size: 16px;
  margin-top: 0;
  line-height: 20px;
}

.checkout-btn {
  padding: 12px 40px;
  background-color: rgb(131, 241, 236);
  border: none;
  border-radius: 0;
  transition: 0.2s;
  margin-top: 8px;
}

.checkout-btn:hover {
  background-color: #6ae4df;
}

.checkout-back-btn:hover {
  background-color: rgb(225, 225, 225)
}

.checkout-back-btn {
  margin-right: 10px;
  background-color: rgb(239, 239, 239)
}



/***************************/

* {
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

a {
  transition: 0.15s;
  color: black;
  transition: 0.2s
}

a:focus, a:hover {
  color: #d66e98;
  text-decoration: none;
}

.btn-default {
  font-weight: 600;
}

#body {
  padding-top: 125px;
  margin-bottom: 140px
}

.main-padding{
  padding-left: 3%;
  padding-right: 3%
}

.emphasis-btn {
  padding: 12px 15%;
  background-color: rgb(131, 241, 236);
  border: none;
  border-radius: 0;
  transition: 0.2s;
  margin-top: 8px;
}

.emphasis-btn a {
  text-decoration: none;
  color: black;
  font-weight: 600
}

.emphasis-btn:hover, .emphasis-btn:active:focus, .emphasis-btn:focus {
  background-color: #6ae4df;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}


.modal-header {
  padding: 10px 15px 19px 10px;
}

.custom-modal {
  margin: 25vh auto 0;
}

.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: none
}

.modal-body {
  padding: 47px 35px;
}
.modal-body .container {
  width: 100%
}

.modal-body .container h3 {
  margin-top: 0
}

.modal-body button {
  padding: 9px 7%;
  transition: 0.18s;
  border: 3px solid rgb(131, 241, 236);
  margin-right: 11px;
}


.modal-body button:hover,
.modal-body button:active,
.modal-body button:active:focus {
  border-color: #6ae4df
}

.modal-body .modal-detail-btn {
  background-color: white;
  margin-right: 0;
}

.modal-body .close {
  border: none;
  padding: 0;
  margin-right: -30px;
    margin-top: -30px;
}






/*** NAVBAR ***/


#navbar {
  background-color: #D6ABB1;
  vertical-align: middle;
  border: none;
  height: 67px;
  font-size: 1.05em;
}

#nav-border {
  background-color:#ffdcdc;
  height: 10px;
  width: 100vw;
  position: fixed;
  top: 67px;
  z-index: 2
}

.navbar-collapse  {
  background-color: #D6ABB1;
  padding-top: 7px;
  font-size: 1.1em;
}

.navbar-toggle {
  background-color: #3D2E44;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
  line-height: 25px;
  transition: 0.25s;
}

.navbar-brand {
  font-size: 1.8em;
  padding-top: 23px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: rgb(205, 247, 244);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #D6ABB1;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #D6ABB1;
  color: rgb(205, 247, 244)
}

#brand-star {
  font-size: 0.9em;
}

.badge {
  font-size: 14px;
}

#nav-cart-count{
  background-color: #d66e98;
}

.dropdown-menu>.active>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
  background-color: rgb(131, 241, 236);
  color: black
}


.dropdown-menu {
  top: 91%;
  display: none;
  padding: 5px 0;
  text-align: center;
  padding: 10px 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.175);
  box-shadow: 0 1px 4px rgba(0,0,0,.175);
}

/***HOME PAGE***/

.all-products {
  padding-top: 30px
}
.grid-box {
  border: 3px solid white;
  padding: 0
}


.float-right {
  float: right
}

.grid-box-hover {
  background-color: rgba(40, 40, 40, 0.67);
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .25s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7%;
  cursor: pointer
}

.grid-box-hover:hover {
  opacity: 1
}

.grid-box-hover h3 {
  font-size: 1.6em;
  line-height: 30px
}


.shop-icon {
  border: 1px solid white;
  padding: 7px 5px 6px;
  width: 90px;
  margin: 7px auto
}

/* Single Product Page */

.img-responsive {
  width: 100%;
}

.product-main{
  padding: 0 10%
}


.product-info  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left
}

.product-info h1 {
  margin-top: 0
}


.quantity-select {
  border: 1px solid #ccc;
  width: 20%;
}



.rating-stars {
   font-size: 1.7em;
   color: #d66e98
}

.category-link {
 color: #d66e98
}


/*REVIEWS*/

#add-review-form {
  margin-top: 20px
}

#add-review-form textarea {
  height: 150px !important;
  width: 50% !important;
  border: 1px solid rgb(204, 204, 204) !important;
  padding: 16px !important;
  margin-top: 7px !important;
  font-size: 1em !important;
}

#add-review-form button {
  margin-right: 15px;
  width: 200px;
  padding: 12px 0;
}

#add-review-form a:hover {
  color: black
}

.review-btn {
  width: 200px;
  padding: 12px 10px !important
}


.review-main{
  padding: 0 10%;
  margin-top: 20px;
}

.review-main h3 {
  display: inline-block;
  margin-right: 30px
}

.review-rows {
  background-color: #fff;
  position: relative
}

/* CART */

.cart-page h3 {
  margin-top: 0
}

.cart-page a:focus, .cart-page a:hover {
  color: #d66e98;
}

.cart-checkout-panel{
  text-align: center
}

.cart-select {
  display: inline-block;
  margin-bottom: 20px
}

.cart-header{
  background-color: rgba(153, 153, 153, 0.2);
  border-bottom:2px solid rgb(206, 205, 205);
  padding: 12px 20px 8px;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin: 20px 0 30px;
}

.cart-btn {
  padding: 5px 20px;
  border: 3px solid #aaa;
  color: #666;
  border-radius: 0;
  margin-right: 11px;
  margin-bottom: 10px;
  transition: 0.18s
}

.cart-btn:hover, .cart-btn:active:focus, .cart-btn:focus {
  border: 3px solid #d66e98;
  background-color: white;
  color: #d66e98;
}


/* CATEGORY PAGE */

.category-product {
  font-size: 1.1em;
  margin-top: 6px;
}

.mini-stars {
  color: #d66e98
}

.quick-view-hover {
  background-color: rgba(255,255,255,0.6);
}

.quick-view-icon {
  background-color: white;
  padding: 4%;
  width: 95%;
  margin: 0 auto;
  color: #d66e98;
  font-size: 0.9em;
  font-weight: 600;
}



.provider-login-btn {
  margin-left: 15px;
  width: 45%;
}

svg {
  fill: #d66e98 !important
}

/*CART DRAWER*/
.drawer {
  position: fixed;
  width: 256px;
  height: 100vh;
  background-color: white;
  top: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 19px;
  color: black;
  margin: 0;
}
.drawer-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.541176);
  position: fixed;
  top: 0;
  left: 0;
}

.drawer-item {
  padding: 15px 10px;
  margin: 0;
}


.drawer-total {
  margin-top: 15px;
}

.drawer-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.drawer-message p {
  font-size: 15px;
  font-weight: 600;
  display: inline;
  margin: 0;
}

.drawer-message span {
  font-size: 35px;
  color: #d66e98;
}


.drawer-btn {
  width: 100%;
  font-size: 1em;
}


/*SINGLE ORDER*/

.order-padding{
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 15%;
  max-width: 1300px;
  width: 70%;
  margin: 0 auto;
  font-size: 16px
}

.text-right {
  text-align: right
}

.bold-text {
  font-weight: bold;
  display: inline-block;
}

.order-list-item {
  border: 1px solid rgb(204,204,204);
  padding: 20px 30px;
  margin-bottom: 15px;
  text-align: center
}

.order-list-padding {
  margin: 40px 5%;
}


.login-container {
    width: 35%;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
}

.login-container .btn {
  padding: 14px;
  width: 100%;
  border-radius: 0;
  border: 0;
}


#fb-login-btn {
  background-color: #3b5998;
  color: white;
  font-weight: 400
}

#google-login-btn {
  background-color: #de3b2d;
  color: white;
  font-weight: 400
}

#footer {
  width: 100%;
  height: 250px;
  background-color: #d66e98
}

#footer-tag {
  text-align: center;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 16px;
  padding-top: 104px;
  letter-spacing: 2px
}
